
:root {
    --color-fireship: linear-gradient(45deg, rgb(244,139,59), rgb(244,97,89));
}

@layer utilities {
    .modern-scroll-bar::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }


    .modern-scroll-bar::-webkit-scrollbar-track {
        /*background: orange; !* Color del área de seguimiento *!*/
    }

    .modern-scroll-bar::-webkit-scrollbar-thumb {
        padding: 6px;
        background-color: #4f46e5; /* Color del thumb (deslizador) */
        border-radius: 20px; /* Redondez del thumb */
        border: 3px solid #4f46e5; /* Crea un borde alrededor del thumb */
    }
}

.channel-link {
color: rgb(244,139,59);
}
.contacts {
    justify-content: center;
    align-items: center;
}
.profile-banner--container {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.profile-banner--container img {
    border-radius: 50%;
}

.github-icon {
    margin-left: 5px;
}